.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    padding: 24px;

    @media (max-width: 768px) {
        padding: 8px;
    }
}

.content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    inset: 0;
    background-position: center;
    opacity: 0.8;
    background: url('/assets/img/plitvice-panorama.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}

.content-inner {
    position: relative;
    padding: 48px;

    @media (max-width: 768px) {
        padding: 16px;
    }
}

.upper-part {
    max-width: 1200px;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: stretch;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.custom-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box; // Moved above the nested rule
    padding: 24px;

    @media (max-width: 768px) {
        padding: 8px;
    }
}

.div-title {
    margin-top: 16px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 16px;
}