<form [formGroup]="form" class="booking-form">
  <ng-container formGroupName="bookingForm">
    <!-- <div class="temporary-booking-form-message">
      <div class="bullet-container">
        <i class="ph ph-clock icon"></i
        ><strong>Rezervacije uskoro dostupne! </strong>
      </div>
      <span
        >Do tada nas za rezervacije kontaktirajte putem telefona ili e-maila
        navedenih na stranici. Hvala na strpljenju!</span
      >
    </div> -->

    <!-- <hr class="separator" /> -->

    <h4 class="bullet-container">
      <i class="ph ph-calendar-check icon"></i>
      Zatraži rezervaciju
    </h4>

    <div class="form-field">
      <label class="input-label icon-outer-container" for="name"
        ><i class="ph ph-user-circle icon"></i>Ime i prezime *</label
      >
      <input
        formControlName="name"
        class="input-field"
        required
        id="name"
        name="name"
        type="text"
      />
    </div>

    <div class="form-field">
      <label class="input-label icon-outer-container" for="email"
        ><i class="ph ph-envelope icon"></i> E-mail adresa *</label
      >
      <input
        formControlName="email"
        class="input-field"
        id="email"
        name="email"
        type="email"
      />
    </div>

    <div class="form-field">
      <label class="input-label icon-outer-container" for="phone"
        ><i class="ph ph-phone icon"></i>Broj mobitela *</label
      >
      <input
        formControlName="phone"
        class="input-field"
        id="phone"
        name="phone"
        type="tel"
      />
    </div>

    <div class="form-field">
      <label class="input-label icon-outer-container" for="date"
        ><i class="ph ph-calendar-blank icon"></i>Datum *</label
      >
      <input
        class="input-field booking-form-date-input-field"
        #dateInput
        formControlName="date"
        id="date"
        name="date"
        type="text"
      />
    </div>

    <div class="form-field">
      <label class="input-label icon-outer-container" for="guests"
        ><i class="ph ph-users-three icon"></i>Broj osoba *</label
      >
      <input
        class="input-field"
        formControlName="guests"
        required
        id="guests"
        name="guests"
        type="number"
        [value]="minPersonsPerClass"
        [min]="minPersonsPerClass"
        [max]="maxPersonsPerClass"
      />
    </div>

    <div class="form-field">
      <label class="input-label icon-outer-container" for="message"
        ><i class="ph ph-chat-circle icon"></i>Poruka</label
      >
      <textarea
        class="message-textarea"
        placeholder="Ovdje možete navesti dodatne informacije (npr. jezik, posebne zahtjeve...)"
        formControlName="message"
        id="message"
        name="message"
        type="text"
      ></textarea>
    </div>

    <div class="bookig-info">
      <p class="bullet-container">
        <i class="ph ph-warning-circle icon"></i>Ova rezervacija NIJE automatski
        potvrđena.
      </p>

      <p class="bullet-container">
        <i class="ph ph-info icon"></i>Termini se brzo popunjavaju i dostupnost
        može varirati.
      </p>

      <p class="bullet-container">
        <i class="ph ph-users-three icon"></i
        ><span
          >Događaju može prisustvovati od 2 do 12 osoba. Moguće je kombinirati
          više grupa.
        </span>
      </p>

      <p class="bullet-container">
        <i class="ph ph-currency-eur icon"></i
        ><span
          >Plaćanje se vrši nakon događaja – gotovinom, karticom ili virmanom.
          Cijena po osobi iznosi
          <strong>{{ pricePerPerson }} EUR</strong>.</span
        >
      </p>
    </div>

    <div>
      <button
        [ngClass]="{
          'submit-button': form.valid,
          'invalid-button': form.invalid || form.pending
        }"
        [disabled]="form.invalid"
        color="accent"
        type="submit"
      >
        <i class="ph ph-paper-plane-right icon"></i> Zatraži rezervaciju
      </button>
    </div>
  </ng-container>
</form>
