@use "styles/abstracts/colors";

.booking-form {
    padding: 24px;
    background-color: colors.$neutral-creamy-white-500;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.38);
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: space-between;

    @media (max-width: 768px) {
        padding: 16px;
    }
}

.booking-info {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking-form-date-input-field {
    width: 100%;
    box-sizing: border-box;
}

.booking-form-button-divider {
    height: 32px;
}

.message-textarea {
    width: 100%;
    border-radius: 4px;
    height: 120px; // ili bilo koja visina koja ti odgovara
    resize: none; // sprečava korisnika da menja veličinu
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.38);
}

.message-textarea:focus {
    outline: none; // Remove default browser outline
    border: 2px solid black !important; // Consistent black border
}