@use "abstracts/variables";
@use "abstracts/colors";
@use "abstracts/typography";
@use "base/base";
@use "components/buttons";

.main-layout {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.main-content {
  flex: 1 1 0;
}