
// Primary
$primary-terracotta-100: #f9ece7;
$primary-terracotta-200: #f3d1c5;
$primary-terracotta-300: #ebaa96;
$primary-terracotta-400: #e48a6f;
$primary-terracotta-500: #dc6d4c;
$primary-terracotta-600: #c1563b;
$primary-terracotta-700: #9e442f;
$primary-terracotta-800: #7c3424;
$primary-terracotta-900: #5c261b;

// Secondary
$secondary-olive-green-100: #eff3ec;
$secondary-olive-green-200: #d7e3cf;
$secondary-olive-green-300: #bdd2b0;
$secondary-olive-green-400: #9dc291;
$secondary-olive-green-500: #7ead71;
$secondary-olive-green-600: #668e5a;
$secondary-olive-green-700: #507143;
$secondary-olive-green-800: #3b552f;
$secondary-olive-green-900: #293b20;

// Accent
$accent-muted-mustard-100: #fdf7e7;
$accent-muted-mustard-200: #fbeab9;
$accent-muted-mustard-300: #f8db83;
$accent-muted-mustard-400: #f3c74a;
$accent-muted-mustard-500: #eabf2f;
$accent-muted-mustard-600: #c9a423;
$accent-muted-mustard-700: #a4881b;
$accent-muted-mustard-800: #826c14;
$accent-muted-mustard-900: #5f510e;

// Neutral
$neutral-creamy-white-100: #ffffff;
$neutral-creamy-white-200: #faf8f4;
$neutral-creamy-white-300: #f2efe7;
$neutral-creamy-white-400: #e8e3d9;
$neutral-creamy-white-500: #dcd6c6;
$neutral-creamy-white-600: #b9b2a5;
$neutral-creamy-white-700: #979084;
$neutral-creamy-white-800: #746e64;
$neutral-creamy-white-900: #504d47;
