<div class="info-section">
  <p class="icon-outer-container info-row">
    <i class="ph ph-currency-eur icon"></i
    ><strong class="info-label">Cijena po osobi:</strong
    >{{ pricePerPerson }} EUR
  </p>
  <p class="icon-outer-container info-row">
    <i class="ph ph-clock icon"></i
    ><strong><span class="info-label">Radno vrijeme:</span></strong
    ><span>Svaki dan&nbsp;</span>{{ startTime }} - {{ endTime }}
  </p>
  <p class="icon-outer-container info-row">
    <i class="ph ph-map-pin icon"></i
    ><strong class="info-label">Adresa:</strong>
    {{ address }}
  </p>
  <p class="icon-outer-container info-row">
    <i class="ph ph-phone icon"></i><strong class="info-label">Telefon:</strong>
    {{ companyPhone }}
  </p>
  <p class="icon-outer-container info-row">
    <i class="ph ph-envelope icon"></i>
    <strong class="info-label">E-mail:</strong>
    <span>{{ companyMail }}</span>
  </p>
</div>
